nav, footer, section, article, aside, header {
    padding: 8px 16px;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1pt;
    margin-top: 80px;
}

#logo {
    font-size: 18pt;
    font-weight: 200;
    letter-spacing: 1.5pt;
    text-transform: uppercase;
    color: #ffd700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.social-media > a {
    margin-right: 15px;
}