<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dan Blaax</title>
    <link rel="stylesheet" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <link rel="stylesheet" href="/public/stylesheets/theme.css">
</head>

<body>
    <header>
        <div id="logo">Dan Blaax</div>
        <nav>
        </nav>
    </header>
    <main>
        <section id="hero">
            <div class="container">
                <h1>The Maverick of the sax world</h1>
                <div>
                    <a class="button primary" href="#book-now">Book now</a>
                </div>
            </div>
        </section>
        <section id="about-dan">
            <div class="container">
                <h2>Dan Blaax</h2>
                <p>Based in Dubai, Dan is a saxophonist who lights up audiences with
                    epic sax melodies and brings the party to life at events worldwide.
                </p>
                <p>
                    His passion for the Saxophone has taken him to stages all around the world - from the Ministry of
                    Sound in London to the F1 grand prix in Abu Dhabi.
                </p>
            </div>
        </section>
        <section id="photos">
            <div class="container">
                <h2>Photo gallery</h2>
                <div class="photo-gallery">
                    <img src="/public/images/gallery/dan-1.jpg" alt="Dan Blaax performing 1" />
                    <img src="/public/images/gallery/dan-2.webp" alt="Dan Blaax performing 2" />
                    <img src="/public/images/gallery/dan-3.webp" alt="Dan Blaax performing 3" />
                    <img src="/public/images/gallery/dan-4.webp" alt="Dan Blaax performing 4" />
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h2>Clients</h2>
                <div class="client-logos">
                    <img src="/public/images/clients/f1.png" alt="F1" />
                    <img src="/public/images/clients/ministry-of-sound.png" alt="Ministry of Sound" />
                    <img src="/public/images/clients/red-bull.png" alt="Red Bull" />
                    <img src="/public/images/clients/la-folie-douce.png" alt="La Folie Douce" />
                </div>
        </section>
        <section>
            <div class="container">
                <h2>Testimonials</h2>
                <blockquote>
                    <p>"Dan Blaax was the highlight of our event! His saxophone performance was electrifying and had
                        everyone on their feet. Highly recommend!"</p>
                    <citation>- Event Organizer</citation>
                </blockquote>
                <blockquote>
                    <p>"Dan Blaax was the highlight of our event! His saxophone performance was electrifying and had
                        everyone on their feet. Highly recommend!"</p>
                    <citation>- Event Organizer</citation>
                </blockquote>
                <blockquote>
                    <p>"Dan Blaax was the highlight of our event! His saxophone performance was electrifying and had
                        everyone on their feet. Highly recommend!"</p>
                    <citation>- Event Organizer</citation>
                </blockquote>
            </div>
        </section>

        <section id="book-now">
            <div class="container">
                <h2>Book now</h2>
                <p>Include a contact form or email link here</p>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>

                    <button type="submit" class="button primary">Submit</button>
                </form>
            </div>
        </section>
        <section>
            <div class="container">
                <h2>Follow Dan Blaax</h2>
                <p>Stay updated with Dan's latest performances and news on social media.</p>
                <div class="social-media">
                    <a href="https://www.youtube.com/danblaax" target="_blank" rel="noopener noreferrer">YouTube</a>
                    <a href="https://www.tiktok.com/@danblaax" target="_blank" rel="noopener noreferrer">TikTok</a>
                    <a href="https://www.instagram.com/danblaax" target="_blank" rel="noopener noreferrer">Instagram</a>
                    <a href="https://www.facebook.com/profile.php?id=100044256080168" target="_blank"
                        rel="noopener noreferrer">Facebook</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>© 2025 Dan Blaax. All rights reserved.</div>
        <div class="social-media">
            <a href="https://www.youtube.com/danblaax" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a href="https://www.tiktok.com/@danblaax" target="_blank" rel="noopener noreferrer">TikTok</a>
            <a href="https://www.instagram.com/danblaax" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100044256080168" target="_blank"
                rel="noopener noreferrer">Facebook</a>
            <a href="mailto:info@danblaax.com">Email</a>
        </div>
    </footer>
</body>

</html>