---
// Components
import Head from "../components/Head.astro";
import Hero from "../components/Hero.astro";

// Data

// Stylesheets
const stylesheets = ["/stylesheets/page.css"];
---

<!doctype html>
<html lang="en">
    <Head stylesheets={stylesheets} />
    <body>
        <main>
            <Hero mode={"coming-soon"} />
        </main>
    </body>
</html>
