<section id="about-dan">
	<div class="container">
		<h2>Dan Blaax</h2>
		<p>
			Based in Dubai, Dan is a saxophonist who lights up audiences with
			epic sax melodies and brings the party to life at events worldwide.
		</p>
		<p>
			His passion for the Saxophone has taken him to stages all around the
			world - from the Ministry of Sound in London to the F1 grand prix in
			Abu Dhabi.
		</p>
	</div>
</section>
