---
const { photos } = Astro.props;
import Gallery from './Gallery.svelte';
---

<section id="photos">
	<div class="container">
		<h2>Photo gallery</h2>
		<div class="photo-gallery">
			<Gallery slides={photos} client:visible />
		</div>
	</div>
</section>
